# A workflow to apply autoformatting when a PR is commented with 'autoformat'.

name: Autoformat
on:
  issue_comment:
    types: [created, edited]

defaults:
  run:
    shell: bash --noprofile --norc -exo pipefail {0}

jobs:
  check-comment:
    runs-on: ubuntu-latest
    if: ${{ github.event.issue.pull_request && contains(github.event.comment.body, 'autoformat') }}
    outputs:
      matched: ${{ fromJson(steps.check-comment.outputs.result).matched }}
      check_run_id: ${{ fromJson(steps.check-comment.outputs.result).check_run_id }}
    steps:
      - name: Check comment
        id: check-comment
        uses: actions/github-script@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const matched = context.payload.comment.body.trim() === 'autoformat';
            let check_run_id = '';
            if (matched) {
              const { workflow, runId } = context;
              const { owner, repo } = context.repo;
              const pull_number = context.issue.number;
              const pr = await github.pulls.get({ owner, repo, pull_number });
              const head_sha = pr.data.head.sha;
              const status = 'in_progress';
              const runUrl = `https://github.com/${owner}/${repo}/actions/runs/${runId}`;
              const prUrl = `https://github.com/${owner}/${repo}/pull/${pull_number}`;
              const summaryObject = {
                'Commit SHA': head_sha,
                'Run URL': runUrl,
                'PR URL': prUrl,
                Status: status,
                Conclusion: '-',
              };
              const summary = [
                '|Information|Value|',
                '|-----------|-----|',
                ...Object.entries(summaryObject).map(([key, value]) => `|${key}|${value}|`),
              ].join('\n');
              const check_run = await github.checks.create({
                owner,
                repo,
                head_sha,
                status,
                name: workflow,
                output: {
                  title: workflow,
                  summary,
                },
              });
              check_run_id = check_run.data.id;
            }
            return {
              matched,
              check_run_id,
            };

  check-diff:
    runs-on: ubuntu-latest
    needs: check-comment
    if: ${{ needs.check-comment.outputs.matched == 'true' }}
    outputs:
      repository: ${{ steps.format-result.outputs.repository }}
      ref: ${{ steps.format-result.outputs.ref }}
      py_changed: ${{ steps.check-diff.outputs.py_changed }}
      ui_changed: ${{ steps.check-diff.outputs.ui_changed }}
    steps:
      - uses: actions/github-script@v4
        id: get-pr
        with:
          script: |
            const { owner, repo } = context.repo;
            const pull_number = context.issue.number;
            const pr = await github.pulls.get({ owner, repo, pull_number });
            console.log(pr.data);
            return pr.data;
      - name: Format result
        id: format-result
        run: |
          repository="${{ fromJSON(steps.get-pr.outputs.result).head.repo.full_name }}"
          ref="${{ fromJSON(steps.get-pr.outputs.result).head.ref }}"
          pull_number="${{ fromJSON(steps.get-pr.outputs.result).number }}"
          echo "::set-output name=repository::$repository"
          echo "::set-output name=ref::$ref"
          echo "::set-output name=pull_number::$pull_number"
      - uses: actions/checkout@v2
        with:
          repository: ${{ steps.format-result.outputs.repository }}
          ref: ${{ steps.format-result.outputs.ref }}
      - uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - run: |
          pip install requests
      - name: Check diff
        id: check-diff
        run: |
          repository="${{ steps.format-result.outputs.repository }}"
          pull_number="${{ steps.format-result.outputs.pull_number }}"
          changed_files="$(python dev/list_changed_files.py --repository $repository --pr-num $pull_number)"
          py_changed=$([[ -z $(echo "$changed_files" | grep '\.py$') ]] && echo "false" || echo "true")
          ui_changed=$([[ -z $(echo "$changed_files" | grep '^mlflow/server/js') ]] && echo "false" || echo "true")
          echo "::set-output name=py_changed::$py_changed"
          echo "::set-output name=ui_changed::$ui_changed"

  python:
    # Generate a patch to format python files.
    runs-on: ubuntu-latest
    needs: check-diff
    if: ${{ needs.check-diff.outputs.py_changed == 'true' }}
    outputs:
      has_diff: ${{ steps.check-diff.outputs.has_diff }}
    steps:
      - uses: actions/checkout@v2
        with:
          repository: ${{ needs.check-diff.outputs.repository }}
          ref: ${{ needs.check-diff.outputs.ref }}
      - uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: Install dependencies
        run: |
          pip install -r requirements/lint-requirements.txt
      - name: Run black
        run: |
          black .
      - name: Check diff
        id: check-diff
        run: |
          git diff --output=python.diff
          has_diff=$([[ -z "$(cat python.diff)" ]] && echo "false" || echo "true")
          echo "::set-output name=has_diff::$has_diff"
      - uses: actions/upload-artifact@v2
        if: ${{ steps.check-diff.outputs.has_diff == 'true' }}
        with:
          name: python.${{ github.run_id }}.diff
          path: python.diff
          if-no-files-found: error
          retention-days: 1

  ui:
    # Generate a patch to format files for MLflow UI.
    runs-on: ubuntu-latest
    needs: check-diff
    if: ${{ needs.check-diff.outputs.ui_changed == 'true' }}
    outputs:
      has_diff: ${{ steps.check-diff.outputs.has_diff }}
    defaults:
      run:
        working-directory: mlflow/server/js
    steps:
      - uses: actions/checkout@v2
        with:
          repository: ${{ needs.check-diff.outputs.repository }}
          ref: ${{ needs.check-diff.outputs.ref }}
      - uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: Install dependencies
        run: |
          npm i
      - run: |
          npm run lint:fix
      - run: |
          npm run extract-i18n
      - name: Check diff
        id: check-diff
        run: |
          git diff --output=ui.diff
          has_diff=$([[ -z "$(cat ui.diff)" ]] && echo "false" || echo "true")
          echo "::set-output name=has_diff::$has_diff"
      - uses: actions/upload-artifact@v2
        if: ${{ steps.check-diff.outputs.has_diff == 'true' }}
        with:
          name: ui.${{ github.run_id }}.diff
          path: mlflow/server/js/ui.diff
          if-no-files-found: error
          retention-days: 1

  apply-patches:
    # Apply the patches and commit changes to the PR branch.
    runs-on: ubuntu-latest
    needs: [check-diff, python, ui]
    if: |
      always() &&
      (needs.python.result == 'success' && needs.python.outputs.has_diff == 'true') ||
      (needs.ui.result == 'success' && needs.ui.outputs.has_diff == 'true')
    steps:
      - uses: actions/checkout@v2
        with:
          repository: ${{ needs.check-diff.outputs.repository }}
          ref: ${{ needs.check-diff.outputs.ref }}
          # As described in the doc below, if we use `secrets.GITHUB_TOKEN`, a commit created by
          # this workflow will not trigger other workflows:
          # https://docs.github.com/en/actions/security-guides/automatic-token-authentication#using-the-github_token-in-a-workflow
          # To make it work, commit changes using the mlflow-automation bot (https://github.com/mlflow-automation).
          token: ${{ secrets.MLFLOW_AUTOMATION_TOKEN }}
      - uses: actions/download-artifact@v2
        if: ${{ needs.python.result == 'success' && needs.python.outputs.has_diff == 'true' }}
        with:
          name: python.${{ github.run_id }}.diff
          path: /tmp/patches
      - uses: actions/download-artifact@v2
        if: ${{ needs.ui.result == 'success' && needs.ui.outputs.has_diff == 'true' }}
        with:
          name: ui.${{ github.run_id }}.diff
          path: /tmp/patches
      - name: Apply patches
        run: |
          find /tmp/patches -maxdepth 1 -type f -name '*.diff' | xargs git apply --verbose
          git diff
      - name: Commit changes
        run: |
          git config --global user.name 'mlflow-automation'
          git config --global user.email 'mlflow-automation@users.noreply.github.com'
          run_url="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          git commit -sam "Autoformat: $run_url"
          git push

  update-status:
    runs-on: ubuntu-latest
    needs: [check-comment, check-diff, python, ui, apply-patches]
    if: ${{ always() && needs.check-comment.outputs.check_run_id != '' }}
    steps:
      - name: Update status
        uses: actions/github-script@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const needs = ${{ needs }};
            const check_run_id = '${{ needs.check-comment.outputs.check_run_id }}';
            const { owner, repo } = context.repo;
            const { workflow, runId } = context;
            const pull_number = context.issue.number;
            const pr = await github.pulls.get({ owner, repo, pull_number });
            const head_sha = pr.data.head.sha;
            const status = 'in_progress';
            const runUrl = `https://github.com/${owner}/${repo}/actions/runs/${runId}`;
            const prUrl = `https://github.com/${owner}/${repo}/pull/${pull_number}`;
            const failed = Object.values(needs).some(({ result }) => result === 'failure');
            const conclusion = failed ? 'failure' : 'success';
            const summaryObject = {
              'Commit SHA': head_sha,
              'Run URL': runUrl,
              'PR RUL': prUrl,
              Status: "completed",
              Conclusion: conclusion,
            };
            const summary = [
              '|Information|Value|',
              '|-----------|-----|',
              ...Object.entries(summaryObject).map(([key, value]) => `|${key}|${value}|`),
            ].join('\n');
            await github.checks.update({
              owner,
              repo,
              check_run_id,
              conclusion,
              output: {
                title: workflow,
                summary,
              }
            });
