name: Autoformat
on: issue_comment

defaults:
  run:
    shell: bash --noprofile --norc -exo pipefail {0}

jobs:
  # Commenting 'autoformat' on a pull request triggers this workflow.
  parse-comment:
    runs-on: ubuntu-latest
    if: ${{ github.event.issue.pull_request }}
    outputs:
      matched: ${{ steps.parse-comment.outputs.matched }}
    steps:
      - name: Parse comment
        id: parse-comment
        run: |
          trimmed=$(echo "${{ github.event.comment.body }}" | tr -d '[:space:]')
          matched=$([[ "$trimmed" == "autoformat" ]] && echo "true" || echo "false")
          echo "::set-output name=matched::$matched"
      # Create a reaction on the comment that triggered this workflow.
      - name: Create reaction
        if: ${{ steps.parse-comment.outputs.matched == 'true' }}
        uses: actions/github-script@v4
        with:
          github-token: ${{ secrets.MLFLOW_AUTOMATION_TOKEN }}
          script: |
            const { owner, repo } = context.repo;
            const comment_id = context.payload.comment.id;
            const content = 'rocket';
            await github.reactions.createForIssueComment({
              owner,
              repo,
              comment_id,
              content,
            });
      - uses: actions/github-script@v4
        if: ${{ steps.parse-comment.outputs.matched == 'true' }}
        with:
          script: |
            const { owner, repo } = context.repo;
            const pull_number = context.issue.number;
            const pr = await github.pulls.get({ owner, repo, pull_number });
            await github.repos.createCommitStatus({
              owner,
              repo,
              sha: pr.data.head.ref,
              state: 'pending',
              target_url: 'https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}',
              description: 'Autoformat',
            });

  check-diff:
    runs-on: ubuntu-latest
    needs: parse-comment
    if: ${{ needs.parse-comment.outputs.matched == 'true' }}
    outputs:
      repository: ${{ steps.format-result.outputs.repository }}
      ref: ${{ steps.format-result.outputs.ref }}
      py_changed: ${{ steps.check-diff.outputs.py_changed }}
      ui_changed: ${{ steps.check-diff.outputs.ui_changed }}
    steps:
      - uses: actions/github-script@v4
        id: get-pr
        with:
          script: |
            const { owner, repo } = context.repo;
            const pull_number = context.issue.number;
            const pr = await github.pulls.get({ owner, repo, pull_number });
            return pr.data
      - name: Format result
        id: format-result
        run: |
          repository="${{ fromJSON(steps.get-pr.outputs.result).head.repo.full_name }}"
          ref="${{ fromJSON(steps.get-pr.outputs.result).head.ref }}"
          pull_number="${{ fromJSON(steps.get-pr.outputs.result).number }}"
          echo "::set-output name=repository::$repository"
          echo "::set-output name=ref::$ref"
          echo "::set-output name=pull_number::$pull_number"
      - uses: actions/checkout@v2
        with:
          repository: ${{ steps.format-result.outputs.repository }}
          ref: ${{ steps.format-result.outputs.ref }}
      - uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - run: |
          pip install requests
      - name: Check diff
        id: check-diff
        run: |
          repository="${{ steps.format-result.outputs.repository }}"
          pull_number="${{ steps.format-result.outputs.pull_number }}"
          changed_files="$(python dev/list_changed_files.py --repository $repository --pr-num $pull_number)"
          py_changed=$([[ -z $(echo "$changed_files" | grep '\.py$') ]] && echo "false" || echo "true")
          ui_changed=$([[ -z $(echo "$changed_files" | grep '^mlflow/server/js') ]] && echo "false" || echo "true")
          echo "::set-output name=py_changed::$py_changed"
          echo "::set-output name=ui_changed::$ui_changed"

  # Job to format python scripts
  python:
    runs-on: ubuntu-latest
    needs: check-diff
    if: ${{ needs.check-diff.outputs.py_changed == 'true' }}
    outputs:
      has_diff: ${{ steps.check-diff.outputs.has_diff }}
    steps:
      - uses: actions/checkout@v2
        with:
          repository: ${{ needs.check-diff.outputs.repository }}
          ref: ${{ needs.check-diff.outputs.ref }}
      - uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: Install dependencies
        run: |
          pip install -r requirements/lint-requirements.txt
      - name: Run black
        run: |
          black .
      - name: Check diff
        id: check-diff
        run: |
          git diff --output=python.diff
          has_diff=$([[ -z "$(cat python.diff)" ]] && echo "false" || echo "true")
          echo "::set-output name=has_diff::$has_diff"
      - uses: actions/upload-artifact@v2
        if: ${{ steps.check-diff.outputs.has_diff == 'true' }}
        with:
          name: python.${{ github.run_id }}.diff
          path: python.diff
          if-no-files-found: error
          retention-days: 1

  # Job to format files under mlflow/server/js
  ui:
    runs-on: ubuntu-latest
    needs: check-diff
    if: ${{ needs.check-diff.outputs.ui_changed == 'true' }}
    outputs:
      has_diff: ${{ steps.check-diff.outputs.has_diff }}
    defaults:
      run:
        working-directory: mlflow/server/js
    steps:
      - uses: actions/checkout@v2
        with:
          repository: ${{ needs.check-diff.outputs.repository }}
          ref: ${{ needs.check-diff.outputs.ref }}
      - uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: Install dependencies
        run: |
          npm i
      - name: Run lint:fix
        run: |
          npm run lint:fix
      - name: Run extract-i18n
        run: |
          npm run extract-i18n
      - name: Check diff
        id: check-diff
        run: |
          git diff --output=ui.diff
          has_diff=$([[ -z "$(cat ui.diff)" ]] && echo "false" || echo "true")
          echo "::set-output name=has_diff::$has_diff"
      - uses: actions/upload-artifact@v2
        if: ${{ steps.check-diff.outputs.has_diff == 'true' }}
        with:
          name: ui.${{ github.run_id }}.diff
          path: mlflow/server/js/ui.diff
          if-no-files-found: error
          retention-days: 1

  commit-changes:
    runs-on: ubuntu-latest
    # Without `always()`, this job would be skipped when any of the dependent jobs is skipped.
    if: ${{ always() }}
    needs: [check-diff, python, ui]
    steps:
      - uses: actions/checkout@v2
        with:
          repository: ${{ needs.check-diff.outputs.repository }}
          ref: ${{ needs.check-diff.outputs.ref }}
          # As described in the doc below, if we use `secrets.GITHUB_TOKEN`, a commit cerated by
          # this workflow will not trigger other GitHub Actions workflows:
          # https://docs.github.com/en/actions/security-guides/automatic-token-authentication#using-the-github_token-in-a-workflow
          # To make it work, register a personal access token for the mlflow-automation bot as
          # a secret in the repository and use it.
          token: ${{ secrets.MLFLOW_AUTOMATION_TOKEN }}
      - uses: actions/download-artifact@v2
        if: ${{ needs.python.result == 'success' && needs.python.outputs.has_diff == 'true' }}
        with:
          name: python.${{ github.run_id }}.diff
          path: /tmp/patches
      - uses: actions/download-artifact@v2
        if: ${{ needs.ui.result == 'success' && needs.ui.outputs.has_diff == 'true' }}
        with:
          name: ui.${{ github.run_id }}.diff
          path: /tmp/patches
      - name: Apply patches and commit changes
        if: |
          (needs.python.result == 'success' && needs.python.outputs.has_diff == 'true') ||
          (needs.ui.result == 'success' && needs.ui.outputs.has_diff == 'true')
        run: |
          find /tmp/patches -maxdepth 1 -type f -name '*.diff' | xargs git apply --verbose
          git config --global user.name 'mlflow-automation'
          git config --global user.email 'mlflow-automation@users.noreply.github.com'
          git diff --color=always
          git add -A
          run_url="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          git commit --signoff -m "Autoformat: $run_url"
          git push
